.git
.github
.cursor
.faststore
.next
.vercel
node_modules
coverage
build
out
dist
.vscode
.idea
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnp
.pnp.js
*.tsbuildinfo
README.md
agent-transcripts
